BasedOnStyle: Microsoft
IndentWidth: 4
ColumnLimit: 120
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
BreakBeforeBraces: Allman
PointerAlignment: Left
SpaceBeforeParens: ControlStatements
AccessModifierOffset: -4

