BasedOnStyle: Microsoft
IndentWidth: 4
ColumnLimit: 130
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
BreakBeforeBraces: Allman
PointerAlignment: Left
SpaceBeforeParens: ControlStatements
AccessModifierOffset: -4
AllowShortFunctionsOnASingleLine: true 